<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slideshow</title>
    <link href="/static/css/slideshow.css" rel="stylesheet">
</head>
<body>
    <template id="contextMenu">
        <ul class="context-menu">
            <li class="context-menu-item" id="settings">Settings</li>
            <li class="context-menu-item" id="fullscreen">Fullscreen</li>
            <li class="context-menu-item" id="stopStreams">Stop Steaming</li>
            <li class="context-menu-item" id="About">About</li>
        </ul>
    </template>
    <input type="hidden" id="autoPlay" value="{{ auto_play }}">
    <div class="settings-menu" id="settingsMenu">
        <button id="closeSettings" class="btn-close" aria-label="Close">X</button>
        <div class="settings-menu-item" id="autoPlayToggle">
            <input type="checkbox" id="autoPlayCheckbox" {% if auto_play == 'true' %}checked{% endif %}>
            <label for="autoPlayCheckbox">Auto Play</label>
        </div>
        <div class="settings-menu-item" id="qualitySelect">
            <label for="quality">Quality:</label>
            <select id="quality">
                <option hidden value="Low">Low</option>
                <option value="Medium" selected>Medium</option>
                <option value="High">High</option>
            </select>
        </div>
    </div>
    <div>
        <div class="spinner" id="spinner"
            {% if auto_play == 'false' %}style="display: none;"{% endif %}>
        </div>
        <div id="videoBox">
            <canvas id="overlay" class="overlay"></canvas>
            <img id="videoStreamer" {% if auto_play == 'false' %} src="/static/img/play.svg"{% endif %} class="img-fluid" alt="Video Stream">
        </div>
    </div>
    <script src="static/js/slideshow.js"></script>
</body>
</html>